<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Name</th>
        <th>Lastname</th>
        <th>Address</th>
        <th>JMBG</th>
        <th>Phone number</th>
        <th>Centre</th>
      
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of registeredUsers">
        <td>{{ user.id }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.lastname }}</td>
        <td>{{ user.address }}</td>    
        <td>{{ user.jmbg }}</td>    
        <td>{{ user.phoneNumber }}</td>      
        <td>{{ user.centre.name}}</td>
      </tr>
    </tbody>
  </table>
  
