* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(171, 202, 230);
  }
  
  div{
    
    background-color: rgb(232, 241, 248);
    width: 500px;
    height: 500px;
    text-align: center;
    padding: 100px;
    border-radius: 15px;
    box-shadow: 5px 5px #b3afaf;
  
  }
  
  input{
    width: 250px;
    height: 30px;
    border: #5c5959;
  }
  
  select{
    width: 250px;
    height: 30px;
    border: #5c5959;
    border-bottom: #5c5959;
  }
  
  button{
    width: 200px;
    height: 40px;
    background-color: rgb(171, 202, 230);
    border:rgb(171, 202, 230); 
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }