<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <button class="btn btn-blood" (click)="goToBlood()">Blood</button>
    <form>
      <label for="name">Name:</label><br />
      <input type="text" id="name" #nameInput /><br />
      <label for="adress">Address:</label><br />
      <input type="text" id="adress" #adressInput /><br /><br />
      <button
        type="submit"
        (click)="search(nameInput.value, adressInput.value)"
      >
        Search
      </button>
    </form>
    <div>
      <label for="avgGrade">Filter by min avgGrade</label>
      <input type="number" id="avgGrade" #avgGradeInput />
      <button
        class="btn btn-green"
        type="submit"
        (click)="filterCenters(+avgGradeInput.value)"
      >
        Submit
      </button>
      <button class="btn btn-red" (click)="resetFilter()">Reset</button>
     
    </div>
    <div>
      <ul class="centre-information temp-info">
        <li class="fixed-width">ID</li>
        <li class="fixed-width">NAME</li>
        <li class="longer-width">ADDRESS</li>
        <li class="longer-width">DESCRIPTION</li>
        <li class="fixed-width">AvgGRADE</li>
        <li class="fixed-width">
          <button class="btn btn-green" (click)="openAddCentreForm()">
            Add Centre
          </button>
        </li>
      </ul>
    </div>
    <div
      class="container"
      *ngFor="let centre of filteredCenters; let i = index"
    >
      <div *ngIf="centres.length === 0">
        <p>No centres were found</p>
      </div>
      <div class="ul-holder">
        <ul class="centre-information">
          <!-- <li class="fixed-width">{{ centre.id }}</li> -->
          <li class="fixed-width">{{ centre.name }}</li>
          <li class="longer-width">{{ centre.adress }}</li>
          <li class="longer-width">{{ centre.description }}</li>
          <li class="fixed-width">{{ centre.avgGrade }}</li>
          <li class="fixed-width button-container">
            <button class="btn btn-blue" type="button" (click)="onEdit(i)">
              Edit
            </button>
             <button class="btn btn-red" type="button">
              X
            </button> 
          </li>
        </ul>
      </div>
    </div>

    <form
      class="form-centre"
      *ngIf="editing"
      [formGroup]="editCentreForm"
      (ngSubmit)="onSubmit()"
    >
      <label for="id">ID:</label>
      <!-- <input type="text" id="id" formControlName="id" [(ngModel)]="centre.id" /> -->
      <br />
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        formControlName="name"
        [(ngModel)]="centre.name"
      />
      <br />
      <label for="adress">Adress:</label>
      <input
        type="text"
        id="adress"
        formControlName="adress"
        [(ngModel)]="centre.adress"
      />
      <br />
      <label for="description">Description:</label>
      <input
        type="text"
        id="description"
        formControlName="description"
        [(ngModel)]="centre.description"
      />
      <br />
      <label for="avgGrade">Avg Grade:</label>
      <input
        type="text"
        id="avgGrade"
        formControlName="avgGrade"
        [(ngModel)]="centre.avgGrade"
      />
      <br />
      <button class="btn btn-green longer-width" type="submit">Save</button>
    </form>

    <!-- ADD CENTRE FORM-->
    <form
      class="form-centre"
      *ngIf="addingCentre"
      #f="ngForm"
      (ngSubmit)="addCentreForm(f)"
    >
      <div class="form-container">
        <label for="id">ID:</label>
        <input type="text" id="id" ngModel name="id" />
        <br />
        <label for="name">Name:</label>
        <input type="text" id="name" ngModel name="name" />
        <br />
        <label for="adress">Adress:</label>
        <input type="text" id="adress" ngModel name="adress" />
        <br />
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" ngModel />
        <br />
        <label for="avgGrade">Avg Grade:</label>
        <input type="text" id="avgGrade" name="avgGrade" ngModel />
        <br />
        <button class="btn btn-green" type="submit">Save</button>
      </div>
    </form>
    <router-outlet></router-outlet>
  </body>
</html>
