<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <header>
    <ul class="navigation-bar">
      <li routerLink="/registration-page">Registration</li>
      <li routerLink="/login-page">Log In</li>
      <!-- <li routerLink="/centres-terms">Centres-Terms</li>
      <li routerLink="/blood-formular">Blood Formular</li>
      <li routerLink="/terms-create">Terms Create</li>
      <li routerLink="/terms-admin">Appointment</li> -->
    </ul>
  </header>
  <body>
    <router-outlet></router-outlet>
  </body>
  
</html>
