<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h2>Update centre</h2><br><br>
    <form>
      <input
        type="text"
        id="name"
        placeholder="name"
     
      />
      <br /><br />
     
      <input
        type="text"
        id="adress"
        placeholder="adress"
       
      />
      <br /><br />
     
      <input
        type="text"
        id="description"
        placeholder="description"
     
      />
      <br /><br />
      <input
        type="text"
        id="avgGrade"
        placeholder="avgGrade"
  
      />
      <br /><br />
      <button>Update</button>

    </form>
    </div>
  </body>
</html>
