<div>
  <h2>Create statement for patient</h2>
  <div class="container">
    <form (ngSubmit)="submitForm(form)" #form="ngForm">
          
      <input
      type="text"
      placeholder="Enter your name"
      name="napomena"
      required
      ngModel
      #napomena="ngModel"
    />

    <input
    type="text"
    placeholder="Enter your name"
    name="bakarSulfat"
    required
    ngModel
    #bakarSulfat="ngModel"
     />

    <input
      type="text"
      placeholder="Enter your Last Name"
      #hemoglobinometar="ngModel"
      name="hemoglobinometar"
      required
      ngModel
    />

    <input
    type="text"
    placeholder="Enter your Last Name"
    #srce="ngModel"
    name="srce"
    required
    ngModel
    />

    <!-- <input
      type="password"
      placeholder="Confirm your Password"
      name="confirmPassword"
      minlength="8"
      required
      ngModel
      #confirmPassword="ngModel"
    /> -->
    <input
    type="pluca"
    placeholder="pluca"
    name="pluca"
    required
    ngModel
    #pluca="ngModel"
    />

    <input
    type="text"
    placeholder="krvniPritisak"
    name="krvniPritisak"
    required
    ngModel
    #krvniPritisak="ngModel"
    />


    <input
      type="text"
      placeholder="napomenaPregleda"
      name="napomenaPregleda"
      required
      ngModel
      #napomenaPregleda="ngModel"
    />

    <input
    type="razlogOdbijanja"
    placeholder="razlogOdbijanja"
    name="razlogOdbijanja"
    required
    ngModel
    />

    
    <label for="zahtev">Zahtev:</label>
    <input type="checkbox" id="zahtev" [(ngModel)]="zahtev" name="zahtev">
    

    <input
    type="mestoPunkcije"
    placeholder="mestoPunkcije"
    name="mestoPunkcije"
    required
    ngModel
    #mestoPunkcije="ngModel"
    />

    <input
    type="text"
    placeholder="kolicinaUzeteKrvi"
    name="kolicinaUzeteKrvi"
    required
    ngModel
    #kolicinaUzeteKrvi="ngModel"
    />


    <input
      type="text"
      placeholder="pocetakKrvi"
      name="pocetakKrvi"
      required
      ngModel
      #pocetakKrvi="ngModel"
    />

    <input
    type="krajKrvi"
    placeholder="krajKrvi"
    name="krajKrvi"
    required
    ngModel
    />
    <select name="bloodTypeName" ngModel required #roleName="ngModel">
      <option value="A+">A+</option>
      <option value="A-">A-</option>
      <option value="AB+">
        AB+
      </option>
      <option value="AB-">
        AB-
      </option>
      <option value="B+">B+</option>
      <option value="B-">B-</option>
      <option value="O+">
        O+
      </option>
      <option value="O-">
        O-
      </option>
    </select>

    <button class="main-button" type="submit">Create</button>
      </form>
  </div>
 </div> 
