/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Glava tabele */
  thead {
    background-color: #f5f5f5;
  }
  
  thead th {
    padding: 10px;
    text-align: left;
  }
  
  /* Redovi tabele */
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tbody td {
    padding: 10px;
    text-align: left;
  }
  
  /* Stilizacija zaglavlja tabele */
  h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  button {
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:active {
    background-color: #003080;
  }

  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10000;
  }
  
  .popup-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .popup-container input {
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
  }
  
  .popup-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .popup-container button:hover {
    background-color: #0056b3;
  }

  .sort-button {
    background-color: rgb(20, 19, 19); /* Promenite boju pozadine prema želji */
    color: white; /* Promenite boju teksta prema želji */
    border-radius: 5px; /* Dodajte zaobljeni oblik */
    padding: 5px 10px; /* Promenite dimenzije dugmeta prema želji */
    margin-right: 20px;
    float: right;
  }
  