<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h2>Create terms</h2><br><br>
    <form [formGroup]="createTermsform">
      <input type="text" placeholder="date" formControlName="date"/><br><br>
      <input type="text" placeholder="time" formControlName="time"/><br><br>
      <input type="text" placeholder="duration" formControlName="duration"/><br><br>
      <!-- <select formControlName="medicalUsers">
          <option selected></option>
          <option *ngFor="let m of medicalUsers" [value]="m.id">{{m.}}</option>
      </select> -->
      <button onclick="Create" type="submit">Create</button>

    </form>
    </div>
  </body>
</html>