<html>
<body>
<div class="container" *ngIf="appointment">
  <h2>Appointment Details</h2>
  <p>ID: {{ appointment.id }}</p>
  <p>Date: {{ appointment.date }}</p>
  <p>Time: {{ appointment.time }}</p>
  <p>Duration: {{ appointment.duration }}</p>
  <p>Available: {{ appointment.available}}</p>
  <p>Present: {{ appointment.present}}</p>
  <div class="div1">
    <button [routerLink]="['/statement', appointment.id]">Statement</button>
     <button [routerLink]="['/equipment-appointment', appointment.id]">Create equipment</button></div>
     <!-- <button [routerLink]="['/availability-page', appointment.id]">Ne moze</button> -->
     <button (click)="updateAppointmentAvailability(appointment.id)">Not come or not meet the condition</button>
    </div>
  </body>
  </html>