<div>
  <h2>Create equipment for appointment</h2>
  <div class="container">
    <form (ngSubmit)="submitForm(form)" #form="ngForm">
          
      <input
      type="text"
      placeholder="nameEquipment"
      name="nameEquipment"
      required
      ngModel
      #nameEquipment="ngModel"
    />

    <input
    type="text"
    placeholder="quantitiofEquipment"
    name="quantitiofEquipment"
    required
    ngModel
    #quantitiofEquipment="ngModel"
     />
     
    <button class="main-button" type="submit">Create</button>
      </form>
  </div>
 </div> 
